.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  background: green;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: rgba(32, 161, 32, 0.699);
  border-color: rgba(32, 161, 32, 0.699);
}

.button--inverse {
  background: rgb(0, 132, 255);
  color: white;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: rgba(0, 132, 255, 0.473);
}

.button--danger {
  background: #ff0055;
  border-color: #ff0055;
}

.button--danger:hover,
.button--danger:active {
  background: #ff005563;
  border-color: #ff005563;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
 font-size: 14px;
  width: 80px;
}
.button--medium {
 font-size:14px;
 width: 100px;
}

.button--big {
  font-size: 14px;
  height: 30px;
  width: -webkit-fill-available;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}