.search-bar {
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  position: relative;
  
}
.search-bar-input { 
  width: 93%;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  margin-bottom: 50px;
}

.search-bar-input:focus {
  outline: none;
  border: 1px solid rgba(3, 109, 3, 0.363);
}
.search-icon {
  position: absolute;
  right: 25px;
  top: 20%;
  transform: translateY(-50%);
}