.close-details {
  text-align: end;
  cursor: pointer;
}
.card-wraper {
  width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0 0 0);
    margin-bottom: 10px;


}
.card-wraper__close {
  width: 90%;
  height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0 0 0);
    margin-bottom: 10px;


}
.todo-card__wraper {
  display: flex;
  justify-content: center;
 
}
.todo-card {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
}
.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.checkbox-title {
  margin-left: 10px;
}
.checkbox {
  filter: hue-rotate(240deg);
}
input[type="checkbox"] {
  transform: scale(1.5);
  margin: 10px;
  cursor: pointer;
}
.bulk-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  border-top: 1px solid black;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;

}
.bulk-action p {
  margin-left: 10px;
}
.bulk-action__button {
  display: flex;
  flex-direction: row;

}
